In [1]:
import os

In [2]:
%pip install pandas
import pandas as pd

[notice] A new release of pip is available: 24.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\maryn\appdata\local\programs\python\python312\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\maryn\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\maryn\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\maryn\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\maryn\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\maryn\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:

import pandas 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
from sklearn.preprocessing import LabelEncoder

In [5]:
#load data

In [6]:
## (1) COMPANY INFO

In [10]:
df = pd.read_csv(r"C:\users\maryn\company_info.csv")

In [11]:
df.head()

   ticker company_name      sector    ipo_date
0  STK001     TechCorp  Technology  2021-04-10
1  STK002  DataSystems  Technology  2016-10-12
2  STK003    CloudNine  Technology  2016-01-18
3  STK004  CyberShield  Technology  2022-02-21
4  STK005    MediPharm  Healthcare  2018-03-05

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ticker        20 non-null     object
 1   company_name  20 non-null     object
 2   sector        20 non-null     object
 3   ipo_date      20 non-null     object
dtypes: object(4)
memory usage: 772.0+ bytes

In [14]:
df.isnull().sum()

ticker          0
company_name    0
sector          0
ipo_date        0
dtype: int64

In [15]:
df.shape

(20, 4)

In [16]:
## The data is clean no null values

In [17]:
# check for missing or duplicate trading days

In [18]:
# convert the date column to datetime

In [19]:
df['ipo_date']=pd.to_datetime(df['ipo_date'])

In [ ]:
#sort by date

In [20]:
df=df.sort_values('ipo_date')

In [21]:
# check for duplicates

In [22]:
duplicate_days=df[df.duplicated(subset='ipo_date', keep= False)]

In [23]:
print("duplicate trading days:")

duplicate trading days:

In [24]:
print(duplicate_days)

Empty DataFrame
Columns: [ticker, company_name, sector, ipo_date]
Index: []

In [25]:
# no duplicate days

In [26]:
# check for missing trading days(Assuming market open from Mon-fri)

In [27]:
all_days = pd.date_range(start=df['ipo_date'].min(), end=df['ipo_date'].max(),freq='B')

In [28]:
missing_days=all_days.difference(df['ipo_date'])

In [29]:
print("\nmissing trading days:")

missing trading days:

In [30]:
print(missing_days)

DatetimeIndex(['2016-01-19', '2016-01-20', '2016-01-21', '2016-01-22',
               '2016-01-25', '2016-01-26', '2016-01-27', '2016-01-28',
               '2016-01-29', '2016-02-01',
               ...
               '2022-02-07', '2022-02-08', '2022-02-09', '2022-02-10',
               '2022-02-11', '2022-02-14', '2022-02-15', '2022-02-16',
               '2022-02-17', '2022-02-18'],
              dtype='datetime64[ns]', length=1575, freq=None)

In [31]:
## (2) MARKET INDICES

In [33]:
df = pd.read_csv(r"C:\Users\maryn\market_indices.csv")

In [34]:
df.head()

,date,sp500_close,nasdaq_close,vix_close,treasury_10y,dollar_index,market_regime
0,2021-01-04,3891.04,12952.02,20.48,1.496,90.07,bull
1,2021-01-05,3847.20,13116.52,19.89,1.504,90.73,bull
2,2021-01-06,3878.24,12818.48,20.02,1.507,90.46,bull
3,2021-01-07,3803.95,13290.11,19.59,1.498,90.67,bull
4,2021-01-08,3715.64,13365.73,20.14,1.498,90.64,bull

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           780 non-null    object
 1   sp500_close    780 non-null    float64
 2   nasdaq_close   780 non-null    float64
 3   vix_close      780 non-null    float64
 4   treasury_10y   780 non-null    float64
 5   dollar_index   780 non-null    float64
 6   market_regime  780 non-null    object
dtypes: float64(5), object(2)
memory usage: 42.8+ KB

In [36]:
df.isnull().sum()

date             0
sp500_close      0
nasdaq_close     0
vix_close        0
treasury_10y     0
dollar_index     0
market_regime    0
dtype: int64

In [37]:
df.shape

(780, 7)

In [ ]:
# covert the date column to datetime

In [38]:
df['date']=pd.to_datetime(df['date'])

In [39]:
#sort by date

In [40]:
df=df.sort_values('date')

In [41]:
# check for duplicates

In [42]:
duplicate_days= df[df.duplicated (subset='date', keep = False)]

In [43]:
print("duplicate trading days:")

duplicate trading days:

In [44]:
print(duplicate_days)

Empty DataFrame
Columns: [date, sp500_close, nasdaq_close, vix_close, treasury_10y, dollar_index, market_regime]
Index: []

In [45]:
# no duplicate days

In [46]:
# check for missing trading days(assuming mkt open mon-fri)

In [47]:
all_days=pd.date_range(start=df['date'].min(),end=df['date'].max(),freq='B') # 'B'= business day

In [48]:
missing_days= all_days.difference(df['date'])

In [49]:
print("\nmissing tradingdays:")

missing tradingdays:

In [50]:
print(missing_days)

DatetimeIndex([], dtype='datetime64[ns]', freq='B')

In [51]:
##(3) STOCK PRICES

In [53]:
df = pd.read_csv(r"C:\Users\maryn\stock_prices.csv")

In [54]:
df.head(2)

   ticker        date    open    high     low   close   volume  adjusted_close
0  STK001  2021-01-04  158.09  160.97  158.09  160.11   962644          160.11
1  STK001  2021-01-05  163.16  165.50  160.76  162.36  1312685          162.36

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15600 entries, 0 to 15599
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ticker          15600 non-null  object
 1   date            15600 non-null  object
 2   open            15600 non-null  float64
 3   high            15600 non-null  float64
 4   low             15600 non-null  float64
 5   close           15600 non-null  float64
 6   volume          15600 non-null  int64
 7   adjusted_close  15600 non-null  float64
dtypes: float64(5), int64(1), object(2)
memory usage: 975.1+ KB

In [56]:
df.isnull().sum()

ticker            0
date              0
open              0
high              0
low               0
close             0
volume            0
adjusted_close    0
dtype: int64

In [57]:
df.shape

(15600, 8)

In [58]:
# convert date column to date time

In [59]:
df['date'] = pd. to_datetime(df['date'])

In [ ]:
# sort by date

In [60]:
df=df.sort_values('date')

In [61]:
# check for duplicates

In [62]:
duplicate_days= df[df.duplicated(subset='date', keep=False)]
print('duplicate trading days:')
print(duplicate_days)

duplicate trading days:
       ticker       date    open    high     low   close   volume  \
0      STK001 2021-01-04  158.09  160.97  158.09  160.11   962644
3900   STK006 2021-01-04   84.61   85.19   82.84   84.13   954683
780    STK002 2021-01-04  164.91  170.19  162.74  166.57  1195101
14040  STK019 2021-01-04   83.93   83.93   82.54   83.07  1378372
14820  STK020 2021-01-04   61.53   62.62   61.16   62.03  1282082
...       ...        ...     ...     ...     ...     ...      ...
11699  STK015 2023-12-29   57.54   60.10   57.54   59.82  1270969
12479  STK016 2023-12-29   48.71   48.71   46.51   47.10  1419184
13259  STK017 2023-12-29   93.57   99.40   93.57   97.37  1135961
7019   STK009 2023-12-29  228.80  236.67  227.31  231.73  1587976
15599  STK020 2023-12-29   74.28   77.87   74.05   75.93  1366923

       adjusted_close
0              160.11
3900            84.13
780            166.57
14040           83.07
14820           62.03
...               ...
11699           59.82
12479           47.10
13259           97.37
7019           231.73
15599           75.93

[15600 rows x 8 columns]

In [63]:
#check for missing trading days(Assuming mkt open mon-fri)

In [65]:
all_days=pd.date_range(start=df['date'].min(),end=df['date'].max(), freq='B')

In [64]:
missing_days= all_days.difference(df['date'])

In [66]:
print("\nmissing tradingdays:")

missing tradingdays:

In [67]:
print(missing_days)

DatetimeIndex([], dtype='datetime64[ns]', freq='B')

In [68]:
##(4) STOCK_PRICES_WITH_INDICATORS(1)

In [73]:
df = pd.read_csv(r"C:\Users\maryn\stock_prices_with_indicators.csv")

In [74]:
df.head()

,ticker,date,open,high,low,close,volume,adjusted_close,sma_20,sma_50,...,true_range,atr_14,volume_sma_20,volume_ratio,momentum_10,momentum_20,price_to_sma_50,volatility_20,future_return_5d,trend_label
0,STK001,2021-01-04,158.09,160.97,158.09,160.11,962644.0,160.11,160.110000,160.110000,...,2.88,2.880,962644.00,1.000000,NaN,NaN,0.000000,NaN,0.026357,Uptrend
1,STK001,2021-01-05,163.16,165.50,160.76,162.36,1312685.0,162.36,161.235000,161.235000,...,5.39,4.135,1137664.50,1.153842,NaN,NaN,0.006977,NaN,0.018169,Sideways
2,STK001,2021-01-06,161.89,162.51,160.94,161.78,1449177.0,161.78,161.416667,161.416667,...,1.57,3.280,1241502.00,1.167277,NaN,NaN,0.002251,0.012463,-0.012301,Sideways
3,STK001,2021-01-07,163.33,167.90,163.33,167.07,1534833.0,167.07,162.830000,162.830000,...,6.12,3.990,1314834.75,1.167320,NaN,NaN,0.026039,0.018138,-0.061950,Downtrend
4,STK001,2021-01-08,168.20,168.20,164.12,165.68,848261.0,165.68,163.400000,163.400000,...,4.08,4.008,1221520.00,0.694431,NaN,NaN,0.013953,0.018663,-0.070196,Downtrend

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15502 entries, 0 to 15501
Data columns (total 31 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ticker            15502 non-null  object
 1   date              15502 non-null  object
 2   open              15502 non-null  float64
 3   high              15502 non-null  float64
 4   low               15502 non-null  float64
 5   close             15502 non-null  float64
 6   volume            15502 non-null  float64
 7   adjusted_close    15502 non-null  float64
 8   sma_20            15192 non-null  float64
 9   sma_50            15502 non-null  float64
 10  sma_200           15502 non-null  float64
 11  ema_12            15502 non-null  float64
 12  ema_26            15502 non-null  float64
 13  macd              15191 non-null  float64
 14  macd_signal       15502 non-null  float64
 15  macd_histogram    15502 non-null  float64
 16  rsi_14            15172 non-null  float64
 17  bb_middle         15502 non-null  float64
 18  bb_upper          15482 non-null  float64
 19  bb_lower          15482 non-null  float64
 20  bb_width          15171 non-null  float64
 21  true_range        15502 non-null  float64
 22  atr_14            15502 non-null  float64
 23  volume_sma_20     15502 non-null  float64
 24  volume_ratio      15192 non-null  float64
 25  momentum_10       15302 non-null  float64
 26  momentum_20       15102 non-null  float64
 27  price_to_sma_50   15502 non-null  float64
 28  volatility_20     15462 non-null  float64
 29  future_return_5d  15502 non-null  float64
 30  trend_label       15502 non-null  object
dtypes: float64(28), object(3)
memory usage: 3.7+ MB

In [76]:
df.isnull().sum()

ticker                0
date                  0
open                  0
high                  0
low                   0
close                 0
volume                0
adjusted_close        0
sma_20              310
sma_50                0
sma_200               0
ema_12                0
ema_26                0
macd                311
macd_signal           0
macd_histogram        0
rsi_14              330
bb_middle             0
bb_upper             20
bb_lower             20
bb_width            331
true_range            0
atr_14                0
volume_sma_20         0
volume_ratio        310
momentum_10         200
momentum_20         400
price_to_sma_50       0
volatility_20        40
future_return_5d      0
trend_label           0
dtype: int64

In [77]:
df.shape

(15502, 31)

In [78]:
#convert date column to date time

In [79]:
df['date'] = pd.to_datetime(df['date'])

In [ ]:
# sort by date

In [80]:
df=df.sort_values('date')

In [81]:
#check for duplicates
duplicate_days= df[df.duplicated(subset='date', keep= False)]
print("duplicate trading days:")
print(duplicate_days)

duplicate trading days:
       ticker       date    open    high     low   close     volume  \
0      STK001 2021-01-04  158.09  160.97  158.09  160.11   962644.0
2325   STK004 2021-01-04  151.44  155.22  150.33  152.00   963623.0
3100   STK005 2021-01-04   89.08   90.46   88.01   89.70  1491126.0
3875   STK006 2021-01-04   84.61   85.19   82.84   84.13   954683.0
4650   STK007 2021-01-04   76.13   77.80   76.00   76.85   947006.0
...       ...        ...     ...     ...     ...     ...        ...
6974   STK009 2023-12-22  213.38  216.15  211.05  213.41  1298539.0
9299   STK012 2023-12-22  127.15  127.15  120.85  123.09  1452420.0
15501  STK020 2023-12-22   78.10   78.10   75.98   76.81  1259507.0
9300   STK012 2023-12-25  124.14  125.60  122.92  124.51  1283147.0
10851  STK014 2023-12-25  182.78  191.21  182.78  189.48  1453826.0

       adjusted_close    sma_20    sma_50  ...  true_range    atr_14  \
0              160.11  160.1100  160.1100  ...        2.88  2.880000
2325           152.00  152.0000  152.0000  ...        4.89  4.890000
3100            89.70   89.7000   89.7000  ...        2.45  2.450000
3875            84.13   84.1300   84.1300  ...        2.35  2.350000
4650            76.85   76.8500   76.8500  ...        1.80  1.800000
...               ...       ...       ...  ...         ...       ...
6974           213.41  222.1415  212.1416  ...        6.20  9.280000
9299           123.09  133.0395  138.9984  ...        6.30  4.919286
15501           76.81   70.7470   60.9676  ...        2.12  3.138571
9300           124.51  132.1515  138.4002  ...        2.68  4.850000
10851          189.48  187.1205  188.7758  ...        9.32  5.047857

       volume_sma_20  volume_ratio  momentum_10  momentum_20  price_to_sma_50  \
0          962644.00      1.000000          NaN          NaN         0.000000
2325       963623.00      1.000000          NaN          NaN         0.000000
3100      1491126.00      1.000000          NaN          NaN         0.000000
3875       954683.00      1.000000          NaN          NaN         0.000000
4650       947006.00      1.000000          NaN          NaN         0.000000
...              ...           ...          ...          ...              ...
6974      1222004.25      1.062631    -0.088965    -0.023608         0.005979
9299      1174956.00      1.236148    -0.082787    -0.120723        -0.114450
15501     1205189.10      1.045070     0.097442     0.222505         0.259849
9300      1191477.95      1.076937    -0.056099    -0.124833        -0.100363
10851     1247670.60           NaN     0.044140    -0.046689         0.003730

       volatility_20  future_return_5d  trend_label
0                NaN          0.026357      Uptrend
2325             NaN         -0.032829    Downtrend
3100             NaN         -0.011594     Sideways
3875             NaN          0.032093      Uptrend
4650             NaN          0.008068     Sideways
...              ...               ...          ...
6974        0.023662          0.085844      Uptrend
9299        0.021237          0.031440      Uptrend
15501       0.022163         -0.011457     Sideways
9300        0.020997          0.169866      Uptrend
10851       0.017199         -0.635318    Downtrend

[15502 rows x 31 columns]

In [82]:
# check for missing trading days (assuming market open mon to fri)

In [83]:
all_days= pd.date_range(start=df['date'].min(),end=df['date'].max(),freq='B') #'B' = business day
missing_days= all_days.difference(df['date'])
print("\nmissing tradingdays:")
print (missing_days)

missing tradingdays:
DatetimeIndex([], dtype='datetime64[ns]', freq='B')

In [85]:
# stock splits